<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
			<!-- ======= Header ======= -->
		<header id="header" th:fragment="header"
				class="fixed-top header-transparent">
		    <div class="container">
		
		      <div class="logo float-left">
		        <h1 class="text-light"><a href="index.html"><span>Umbrella</span></a></h1>
		        <!-- Uncomment below if you prefer to use an image logo -->
<!-- 		        <a href="index.html"><img src="../../assets/img/logo.png" alt="" class="img-fluid"></a> -->
		      </div>
		
		      <nav class="nav-menu float-right d-none d-lg-block">
		        <ul>
		          <li><a href="index.html">Inicio</a></li>
		          <li><a href="about.html">Sobre Nosotros</a></li>
		          <li><a href="services.html">Servicios</a></li>
		          <li><a href="portfolio.html">Galería</a></li>
		          <li><a href="team.html">Nuestro equipo</a></li>
		          <li class="drop-down"><a href="">Categorías</a>
		            <ul>
		              <li><a href="#">Líneas de productos</a></li>
		              <li><a href="#">Productos</a></li>
		              <li class="drop-down"><a href="#">Clientes y Compras</a>
		                <ul>
		                  <li><a href="#">Clientes</a></li>
		                  <li><a href="#">Ordenes de compra</a></li>
		                  <li><a href="#">Detalles de compra</a></li>
		                  <li><a href="#">Pagos</a></li>
		                </ul>
		              </li>
		              <li><a href="#">Oficinas</a></li>
		              <li><a href="#">Empleados</a></li>
		            </ul>
		          </li>
		          <li><a href="contact.html">Contáctenos</a></li>
		        </ul>
		      </nav><!-- .nav-menu -->
		
		    </div>
		  </header><!-- End Header -->
	
	</body>
</html>