<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
			<!-- ======= Header ======= -->
		<header id="header" th:fragment="header" class="fixed-top ">
		    <div class="container">
		
				<div class="logo float-left">
		        <h1 class="text-light"><a href="index"><span>Umbrella</span></a></h1>
		        <!-- Uncomment below if you prefer to use an image logo -->
		        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
				</div>
		
				<nav class="nav-menu float-right d-none d-lg-block">
			      	<ul>
						<li><a href="index">Inicio</a></li>
					    <li><a href="about">Sobre Nosotros</a></li>
					    <li><a href="galeria">Galería</a></li>
					    <li><a href="equipo">Nuestro equipo</a></li>
					    <li class="drop-down"><a href="">Categorías</a>
					    	<ul>
					        	<li><a href="productline-listado">Líneas de productos</a></li>
					            <li><a href="productos">Productos</a></li>
					            <li class="drop-down"><a href="#">Clientes y Compras</a>
						            <ul>
						            	<li><a href="clientes">Clientes</a></li>
						                <li><a href="ordenes">Ordenes de compra</a></li>
						                <li><a href="detalles">Detalles de compra</a></li>
						                <li><a href="pagos">Pagos</a></li>
						            </ul>
					            </li>
					            <li><a href="oficinas">Oficinas</a></li>
					        	<li><a href="empleados">Empleados</a></li>
					    	</ul>
					    </li>
						<li><a href="contacto">Contáctenos</a></li>
						
						
						<li class="drop-down"><a href="">Cuenta</a>
					    	<ul>
					        	<li sec:authorize="isAuthenticated()">		    
									<form th:action="@{/logout}" method="post">
					    				<spam sec:authentication="name"></spam>
					    				<input class="btn btn-light" type="submit" value ="logout">
					 				</form>
								</li>
					    	</ul>
					    </li>
						
						
						<!--
						<li sec:authorize="isAuthenticated()">		    
								<form th:action="@{/logout}" method="post">
			    					<spam sec:authentication="name"></spam>
			    					<input class="btn btn-light" type="submit" value ="logout">
			 					</form>
						</li>
						 
						<form th:action="@{/logout}" method="post">
				  	 		<input class="btn btn-light" type="submit" th:value="${#authentication.getPrincipal().getUsername()}+' - Salir'">
				  	 	</form>
						
						<ul class="navbar-nav mt-2 mt-lg-0">
							<li class="nav-item">
								<a class="btn btn-outline-light" href="#" th:href="@{/logout}">
									<span th:text="${#authentication.getPrincipal().getUsername()}"></span> - <span> Salir </span>
									<span class="float-right"> <i class="fas fa-sign-out-alt"></i></span>
								</a>
							</li>
						</ul>
						 -->
					</ul>
					
				</nav><!-- .nav-menu -->
			</div>
		</header><!-- End Header -->
	
	</body>
</html>